{{#extends 'base'}}

{{#block 'content'}}

<form method="POST">
    {{{form}}}
    <input type = "submit" value ="Add Product" class ="btn btn-primary" />
     <a href="/products" class="btn btn-success">Cancel</a>
</form>

{{/block}}

{{/extends}}