{{#extends 'base'}}

{{#block 'content'}}

<h1>Update Product</h1>
<form method = "POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary my-3"/>
    <a href="/products" class="btn btn-primary btn-sm">Cancel</a>

{{/block}}

{{/extends}}